.user{
    border: 0px;
    display: block;
    width: 20rem;
    height: 2.6rem;
}
.top{
    border-bottom: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 4rem auto 0;
}
.bottom{
    margin: 0 auto 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 2rem;
}

.content{
    margin: 4% auto 0 ;
    width: 40%;
    padding: 10% 3%;
    text-align: center;
    border: 1px solid #d64c4c ;
    border-radius: 4rem;
    background-color: #cc4e4e;
}

body{
    background-color: #d19494;
}