.logo{
    color:#1f4068;
    padding-left: 6rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
.logohead{
    margin-bottom: 0px;
}
.hello{
    color:#1f4068;
    font-weight: 700;
    font-size: 5rem;
}
.user{
    border: 0px;
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
    width: 25rem;
    height: 3.4rem;
    text-align: center;
}
.top{
    border: 2px solid #1f4068;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 3rem auto 0;
}
.bottom{
    border: 2px solid #1f4068;
    border-top: 1px solid #edf4f2;
    margin: 0 auto 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 2rem;
}

.content{
    font-family: 'Comfortaa', cursive;
    margin: 4% auto 0 ;
    width: 40%;
    padding: 10% 3%;
    text-align: center;
    border: 3px solid #1f4068;
    border-radius: 4rem;
    background-color: #edf4f2;
}

.reg.link{
    margin-top: 1rem;
}

body{
    background-color: #e84a5f;
}